/* -------------------------------- 
Normal Components 
-------------------------------- */
.normal {
	padding: 2em 5em;

	h1 {
		text-align: center;
		font-size: 2.6rem;
		margin-bottom: 1em;
	}

	.heading {
		text-align: center;
		color: $heading-text;
		font-family: $primary-font;
		line-height: 38px;
		margin-bottom:40px;
		&.white-text {
			color: $color-3;
		}
	}

	.subheading {
		color: $subheading-text;
		font-family: $primary-font;
		line-height:38px;
		margin:30px 0;
		margin-bottom:50px;
	}

	p {
		margin: 20px 0;
		font-size: 30px;
		line-height: 42px;
		&.small {
			font-size:18px;
			line-height: 36px;
			color: $subheading-text;
		}
	}

}

/* all */

.main-color {
	background-color: #1ABC9C !important;
	fill:#1ABC9C !important;;
}

.main-font-color {
	color: #1ABC9C !important;
}
.team-member {
	margin-bottom: 2em;
}
.team-member img {
	cursor: pointer;
	border-radius: 50%;
	display: initial;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.team-member img:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	transform: scale(1.1);
	opacity: 1;
}

.team-name {
	margin-top: 15px;
}

/* testimonial */
#testimonials {
	height: 300px;
	background: url(../../img/pattern-ui-faces.png) no-repeat;
	background-size: cover;
	padding-top: 60px;

	.client-say {
		color: $color-3;
		margin-bottom: 50px;
		padding-top: 30px;
		padding-bottom: 30px;
		font-style: italic;
		font-size: 32px;
	}
}
/*pagination*/
.pagination li a {
	color: #FFF;
	border-bottom:2px #2ECC71 solid;
}

.pagination li a:hover{
	color: #FFF;
	border-bottom:2px #2ECC71 solid;
}