/* -------------------------------- 
Index scrolling style : onepage
-------------------------------- */
.onepage-main {
	.icon { 
		height: 155px; 
		width: 155px; 
		line-height: 155px; 
		max-width: 100%; 
		background: transparent; 
		@include border-radius(50%);
		display: block; 
		color: $color-3; 
		font-size: 70px; 
		text-align: center; 
		vertical-align: middle; 
		position: relative; 
		margin: 0 auto 40px; 
		border: solid 3px $color-3;
	}

	section {
		text-align: center;
		font-family: $primary-font;
		@include font-smoothing;
		@include backface-visibility(hidden);
		@include transform(translateZ(0));
		display: block;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;

		&:nth-child(1) { background-image: url(../../img/img-01.jpg); }
		&:nth-child(2) { background-image: url(../../img/img-02.jpg); }
		&:nth-child(3) { background-image: url(../../img/img-03.jpg); }
		&:nth-child(4) { background-image: url(../../img/img-04.jpg); }
		&:nth-child(5) { background-image: url(../../img/img-05.jpg); }
		&:nth-child(6) { background-image: url(../../img/img-06.jpg); }
		&:nth-child(7) { background-image: url(../../img/img-07.jpg); }
	}

	.hero {
		&.intro {
			padding-top: 50%;
		}
		padding-top: 50%;
		h2, p {
			text-shadow: 0 1px 3px rgba(#000, .1);
			line-height: 1.2;
			margin: 0 auto 14px;
			color: $color-3;
			width: 90%;
			max-width: 400px;
		}

		h2 {
			font-size: 2.4rem;
		}

		p {
			font-size: 1.4rem;
			line-height: 1.4;
		}

		.scroll-down {
			padding-top: 8em;
			text-align: center;
			display: block;
			a {
				font-size: 10px;
			}
			.mouse {
				width: 30px;
				height: 48px;
				position: relative;
				display: block;
				@include box-sizing(border-box);
				margin: 0 auto 20px;
				border: 2px solid #fff;
				border-radius: 23px;
			}
			.mouse > * {
				font-family: 'Helvetica Neue', Helvetica, sans-serif;
				font-size: 13px;
				font-weight: normal;
				line-height: 18px;
				display: inline-block;
				letter-spacing: 1px;
				color: #fff;
				position: absolute;
				top: 29%;
				left: 50%;
				display: block;
				width: 8px;
				height: 8px;
				margin: -4px 0 0 -4px;
				@include mouse-animate;
				border-radius: 50%;
				background: #fff;
			}
		}

		.cd-btn {
			display: inline-block;
			padding: 1.2em 1.4em;
			margin-top: .8em;
			background-color: rgba($color-2, .9);
			font-size: 1.3rem;
			font-weight: 700;
			letter-spacing: 1px;
			color: $color-3;
			text-transform: uppercase;
			box-shadow: 0 3px 6px rgba(#000, .1);
			@include transition(background-color .2s);

			&.secondary {
				background-color: rgba(darken($color-1, 10%), .8);
			}

			&:nth-of-type(2) {
				margin-left: 1em;
			}

			.no-touch &:hover {
				background-color: $color-2;
			}

			.no-touch &.secondary:hover {
				background-color: darken($color-1, 10%);
			}
		}

		@include MQ(M) {
			padding-top: 150px;
			&.intro {
				padding-top: 150px;
			}

			h2, p {
				max-width: 520px;
			}

			h2 {
				font-size: 2.4em;
				font-weight: 300;
			}

			.cd-btn {
				font-size: 1.4rem;
			}
		}

		@include MQ(L) {
			padding-top: 160px;
			&.intro {
				padding-top: 220px;
			}

			h2, p {
				margin-bottom: 20px;
			}

			h2 {
				font-size: 3.2em;
			}

			p {
				font-size: 2.4rem;
			}
		}
	}
}

body, .onepage-wrapper, html {
	display: block;
	position: static;
	padding: 0;
	width: 100%;
	height: 100%;
}

.onepage-wrapper {
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
	padding: 0;
	-webkit-transform-style: preserve-3d;

	.section {
		width: 100%;
		height: 100%;
	}
}

.onepage-pagination {
	position: absolute;
	right: 10px;
	top: 50%;
	z-index: 1;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: -48px;
	li {
		padding: 0;
		text-align: center;
		a {
			padding: 10px;
			width: 4px;
			height: 4px;
			display: block;
		}
		a:before {
			content: '';
			position: absolute;
			width: 4px;
			height: 4px;
			background: $color-3;
			@include border-radius(10px);
		}
		a.active:before {
			width: 10px;
			height: 10px;
			background: $color-3;
			border: 1px solid $color-3;
			margin-top: -4px;
			left: 8px;
		}
	}
}

.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
	overflow: auto;
}

.disabled-onepage-scroll .onepage-wrapper .section {
	position: relative !important;
	top: auto !important;
}
.disabled-onepage-scroll .onepage-wrapper {
	-webkit-transform: none !important;
	-moz-transform: none !important;
	transform: none !important;
	-ms-transform: none !important;
	min-height: 100%;
}

.disabled-onepage-scroll .onepage-pagination {
	display: none;
}

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
	position: inherit;
}

