// colors
$color-1: #2c343b; // 
$color-2: #d44457; //
$color-3: #ffffff; // White

// fonts 
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Merriweather', serif;

// animation
$animation-duration: 0.7s;

// intro height
$intro-height-S: 360px;
$intro-height-M: 500px;
$intro-height-L: 680px;