// colors
$color-0: #27272b; // black
$color-1: #2c343b; // 
$color-2: #d44457; //
$color-3: #ffffff; // White

$color-4: #2b334f; // Pickled Bluewood
$color-5: #2e5367; // San Juan
$color-6: #267481; // Lochinvar
$color-7: #fcb052; // Texas Rose
$color-8: #f06a59; // Burnt Sienna
$color-9: #ffffff; // White

// fonts 
$heading-text: #484d53;
$subheading-text: #6a727b;
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Merriweather', serif;

// animation
$animation-duration: 0.7s;

// z-index
$main-elements: main-content, navigation;
$bg-elements: fixed-bg, scrolling-bg;

$google-background: #e7eaf0; // google background color